280NPLIST;1.0;D;K;26;CPApplicationDelegateClassS;12;RGControllerK;12;CPBundleNameS;10;RegulationK;16;CPPrincipalClassS;13;CPApplicationK;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;21;com.iridia.regulationK;15;CPBundleVersionS;3;1.0K;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;13;Regulation.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;K;17;CPApplicationSizeD;K;10;executabled;7;1804448K;4;datad;6;417053K;5;mhtmld;5;69560E;E;