280NPLIST;1.0;D;K;18;CPBundleIdentifierS;10;wyzihatkitK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;10;WyzihatKitK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;20;CPBundleEnvironmentsA;S;7;BrowserE;K;18;CPBundleExecutableS;13;WyzihatKit.sjK;21;CPBundleReplacedFilesD;K;4;ObjJA;S;12;WKTextView.jE;E;K;36;CPBundleEnvironmentsWithImageSpritesA;E;E;